.admin-noticias {
  padding: 5%;
  padding-bottom: 6%;
}

.admin-noticias h2 {
  margin-bottom: 20px;
}

.admin-noticias-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-noticias-actions .btn-create {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.admin-noticias-actions .search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.admin-noticias table {
  width: 100%;
  border-collapse: collapse;
}

.admin-noticias th,
.admin-noticias td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.admin-noticias th {
  background-color: #f2f2f2;
}

.btn-view,
.btn-edit,
.btn-edit-disable,
.btn-delete {
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.btn-view {
  background-color: #4caf50;
}

.btn-edit {
  background-color: #2196f3;
}

.btn-edit-disable{
  background-color: #cccccc;
}

.btn-delete {
  background-color: #f44336;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-bottom: 15px;
}

.modal form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons button:first-child {
  background-color: #ddd;
}

.modal-buttons button:last-child {
  background-color: #4caf50;
  color: white;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.btn-back {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #e0e0e0;
}

